# Python
__pycache__/
*.pyc

# Environment
.env
venv/
ENV/
*.sqlite3

# Django stuff
db.sqlite3
*.log

# VSCode/IDE
.vscode/
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]

Scripts
Lib